<ion-content *ngIf="weatherSingle" [ngClass]="weatherSingle.friendlyName">
    <div class="text-over-img-wrapper">
        <h1>{{weatherSingle.main.temp}} &deg;</h1>
        <h2>{{weatherSingle.friendlyName}}</h2>
        <img src="assets/img/{{weatherSingle.friendlyName}}.png" width="100%">
    </div>
    <div>
        <ion-item class="transparent-bg border-bottom" no-lines>
            <ion-grid>
                <ion-row>
                    <ion-col text-left>
                        <p>{{weatherSingle.main.temp_min}} &deg;
                            <br> min</p>
                    </ion-col>
                    <ion-col text-center>
                        <p>{{weatherSingle.main.temp}} &deg;
                            <br> Current</p>
                    </ion-col>
                    <ion-col text-right>
                        <p>{{weatherSingle.main.temp_max}} &deg;
                            <br> max</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </div>
    <div *ngIf="weatherForecastResponse" class="page-content-margin">
        <ion-list *ngFor="let weatherSingle of weatherForecastResponse.forecast">
            <ion-item class="transparent-bg">
                <ion-grid>
                    <ion-row>
                        <ion-col text-left>
                            <p>{{weatherSingle.dayOfWeek}}</p>
                        </ion-col>
                        <ion-col text-center>
                            <img src="assets/icon/{{weatherSingle.friendlyName}}.png" width="25px">
                        </ion-col>
                        <ion-col text-right>
                            <p>{{weatherSingle.main.temp}} &deg;</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>
</ion-content>